
a {
    transition: background 0.2s, color 0.2s;
}

    a:hover,
    a:focus {
        text-decoration: none;
    }

#wrapper {
    padding-left: 0;
    transition: all 0.5s ease;
    position: relative;
}

#sidebar-wrapper {
    background-image: url("/FotosProyecto/1594_939cf.webp");
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.5s ease;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0,255,255,0.65);
    -moz-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 9px -1px rgba(255,255,255,0.30);
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

.sidebar-brand {
    position: absolute;
    top: 0;
    width: 250px;
    text-align: center;
    padding: 20px 0;
}

    .sidebar-brand h2 {
        margin: 0;
        font-weight: 600;
        font-size: 28px;
        font-family: 'Helvetica Now Display';
        color: #fff200;
    }

.sidebar-nav {
    position: absolute;
    top: 75px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .sidebar-nav > li {
        line-height: 47px;
    }

        .sidebar-nav > li a {
            display: block;
            text-decoration: none;
            color: #ff6d00ff;
            font-weight: 600;
            font-size: 18px;
        }

        .sidebar-nav > li > a:hover,
        .sidebar-nav > li.active > a {
            text-decoration: none;
            color: #ffffff;
            background: #F8BE12;
        }

        .sidebar-nav > li > a i.fa {
            font-size: 24px;
            width: 50px;
            margin: 5px 0px;
            padding: 7px 0px;
            color: #447881;
        }
.bordeFa {
    border-radius: 8px;
    background: #e0e0e000;
    box-shadow: 2px 2px 5px #4b4a4a,
                            -2px -2px 5px #fffefb;
}
.textoNavbar{
    margin-left:15px;
}
#navbar-wrapper {
    width: 100%;
    position: absolute;
    z-index: 2;
}

#wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
}

#navbar-wrapper .navbar {
    border-width: 0 0 0 0;
    background-color: #1d2634;
    font-size: 24px;
    margin-bottom: 0;
    border-radius: 0;
}

    #navbar-wrapper .navbar a {
        color: #757575;
    }

        #navbar-wrapper .navbar a:hover {
            color: #f82712;
        }

#content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    top: 100px;
}

#wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
}

@media (min-width: 992px) {
    #wrapper {
        padding-left: 250px;
    }

        #wrapper.toggled {
            padding-left: 60px;
        }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 60px;
    }

    #wrapper.toggled #navbar-wrapper {
        position: absolute;
        margin-right: -190px;
    }

    #wrapper.toggled #content-wrapper {
        position: absolute;
        margin-right: -190px;
    }

    #navbar-wrapper {
        position: relative;
    }

    #wrapper.toggled {
        padding-left: 60px;
    }

    #content-wrapper {
        position: relative;
        top: 0;
    }

    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
        position: relative;
        margin-right: 60px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #wrapper {
        padding-left: 60px;
    }

    #sidebar-wrapper {
        width: 60px;
    }

    #wrapper.toggled #navbar-wrapper {
        position: absolute;
        margin-right: -250px;
    }

    #wrapper.toggled #content-wrapper {
        position: absolute;
        margin-right: -250px;
    }

    #navbar-wrapper {
        position: relative;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #content-wrapper {
        position: relative;
        top: 0;
    }

    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
        position: relative;
        margin-right: 250px;
    }
}

@media (max-width: 767px) {
    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #navbar-wrapper {
        position: absolute;
        margin-right: -250px;
    }

    #wrapper.toggled #content-wrapper {
        position: absolute;
        margin-right: -250px;
    }

    #navbar-wrapper {
        position: relative;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #content-wrapper {
        position: relative;
        top: 0;
    }

    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
        position: relative;
        margin-right: 250px;
    }
}
